<h1>Create Post:</h1>
<form method="POST" action="/posts/new">
  <label for="title">Title: </label>
  <input type="text" id="title" name="title"><br><br>
  <label for="content">Post: </label>
  <input type="text" id="content" name="content"><br><br>

  <% if @tags %>
    <h3>Tags:</h3>
    <% @tags.each do |tag| %>
      <%= tag.name %>
      <input type="checkbox" id="tag<%= tag.id %>" name="tag_ids[]" value="<%= tag.id %>"><br>
    <% end %>
  <% end %>

  <label for="new_tag">New Tag: </label>
  <input type="text" id="new_tag" name="new_tags[]"><br><br>

  <input type="submit" value="Submit">
</form>